* {
  font-family: 'Roboto Mono';
}

body{
  background-color: #2C2F33;
  color: white;
  overflow: hidden;
}

.logo{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20%;
}

.chatbox{
  position: absolute;
  left: 5px;
  top: 25%;
  width: 20%;
  height: 50%;
}

.card{
  position: relative;
  font-family: 'Courier';
  border: 3px solid teal;
  /*box-shadow: 0 0 0 3px teal;*/
  height: 17.5vh;
  width: 12.5vh;
  line-height: 3.5vh;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.25s;
  background-color: white;
  border-radius: 12px;
  color: black;

}

.drawpile {
  position: absolute;
  right: 10%;
  top: 30%;
  width: 12.5vh;
  text-align: center;
}



.drawpile_card {
  background-color: #2C2F33;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

.card_back {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
   margin-left: -50%;
}

.hand{
  border: 3px solid white;
  position: absolute;
  bottom: 5px;
  height: 15%;
  left: 12.5%;
  width: 75vw;
  display: table;
  table-layout: fixed;
}


.hand .card-container{
  display: table-cell;
}

.playerlist{
  position: absolute;
  border: 3px solid;
  right: 5px;
  top: 5px;
  height: 7em;
  width: 25vh;
}


.text_green {
  color: #9fcc7a;
}

.text_teal {
  color: #b8e2df;
}

.text_pink {
  color: #eaaacc;
}

.text_yellow {
  color: #ffc90c;
}

.chatbox{
  position: absolute;
  left: 5px;
  top: 25%;
  width: 20%;
  height: 50%;
  overflow: visible;
  padding: 0;
}

.actualchat{
  height: 45vh;
  width: 20vw;
  overflow: auto;
  padding: 0;
}

.send-message input{
  position: absolute;
  height: 2em;
  width: 100%;
  padding: 0;
  border: 0;
}

.send-message button{
  display: none;
  border: 0;
  padding: 0;
}
.corner_text {
  font-family: 'Squada One';
  position: relative;
  top: 0%;
  left: 5%;
}

.center_text {
  font-family: 'Squada One';
  display:block;
  font-size: 500%;
  height:100%;
  width:100%;
  text-align:center;
  line-height: 100%;
}



.highlighted{
  animation: highlighted 3s infinite;
}

/*
#sample_green:hover{
  opacity: 1;
}
*/


.card:hover {
  transform: scale(1.2) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 9001;
}


.hand .card:hover{
  transform: translate(0, -25%) scale(1.5) !important;
  z-index: 9001;
}

.board{
  border: 3px solid white;
  padding-top: 1vh;
  display: grid;
  position: absolute;
  height: 75%;
  width: 50%;
  top: 5px;
  left: 25%;
  margin: auto;
}

.endbutton{
  line-height: 21%;
  border: 3px solid white;
  position: absolute;
  height: 21%;
  width: 15vh;
  right: 5px;
  bottom: 5px;
  border-radius: 12px;
  transition-duration: 0.25s;
  /*vertical-align: middle;*/
}

.playcolor{
  display: inline-flex;
  width: 100%;
  margin: auto;
}

.endbutton:hover{
  background-color: red;
  transform: translate(-25%, -25%) scale(1.5);
}

.cardpile{
  position: relative;
  height: 17.5vh;
  width: 43%;
  float: left;
  border: 3px solid white;
}

.playedcardleft{
  margin-right: -10vh;
  float: right;
  opacity: 0;
  z-index: 0;
  transition-duration: 0s;
}

.playedcardright{
  margin-left: -10vh;
  float: left;
  opacity: 0;
  z-index: 0;
  transition-duration: 0s;
}

.cardpile .playedcardleft:first-child{
  margin-right: 0;
}

.cardpile .playedcardleft:last-child{
  position: absolute;
  margin-right: 0;
  z-index: 9002;
}

.cardpile .playedcardright:first-child{
  margin-left: 0;
}

.playedcardright:last-child{
  position: absolute;
  margin-left: 0;
  z-index: 9002;
}

.cardpile:hover > .playedcardright, .cardpile:hover > .playedcardleft{
  opacity: 1;
}

.cardpile:hover > .playedcardright:last-child{
  position: relative;
  margin-left: -10vh;
}
/*
.cardpile .playedcardright:last-child:hover{

  margin-left: 12vh;
}
*/

.playedcardright: hover{
  z-index: 0;
}

.drawpile_card:hover {
  transform: translate(0, 25%) scale(1.5) !important;
}

@keyframes highlighted {
  0% {
    transform: translate(0, 0) scale(1);
    border: 3px solid red;
  }
  50% {
    transform: translate(0, -5%) scale(1.1);
    border: 3px solid blue;
  }
  100% {
    transform: translate(0, 0) scale(1);
    border: 3px solid red;
  }
}
